.sidebar {
    .container {
        display: flex;
        width: 20%; 
        height: 100%;
        background-color: '#ffffff';
        border: 1px solid #ccc;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1,
    }

    .icon-container {
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px !important;
        cursor: pointer;
        flex-direction: column;
        text-align: center;
    }

    .icon-container:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in;
        border: 1px solid #007CBE;
    }
}